/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset css */
@font-face {
	font-family: "Glacial-gras";
  src: url("../GI-Bold.otf");
}
@font-face {
	font-family: "font-light";
	src: url("../font.light.otf");
	font-family: "font-gras";
	src: url("../font.gras.otf");
}
nav {
	background-color: #fdc1bc;
	position: sticky;
	top: 0;
	z-index: 3;
}
nav ul {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	padding: 15px 0;
		-webkit-box-shadow: 0 10px 6px -6px #777;
		   -moz-box-shadow: 0 10px 6px -6px #777;
		        box-shadow: 0 10px 6px -6px #777;
						/* margin: 0px 20% 0px 0px; */
}

li>a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "font-gras";
}

h1{
	margin: 10px;
	background-color: #464950;
}
h2{
	text-transform: uppercase;
	color:#464950;
	font-size: x-large;
	padding: 15px 0px;
}
.header{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
/* droite */
.header-right{
	background-color: #fdc1bc;
	width: 20%;
	text-align: center;
	-webkit-box-shadow: -10px 0 6px -6px #777;
		 -moz-box-shadow: -10px 0 6px -6px #777;
					box-shadow: -10px 0 6px -6px #777;
}
#profil{
	width: 80%;
	border-radius: 100%;
}
.contact{
	width: 5%;
}
.check, .menu-btn{
	display: none;
}
/* gauche */

.header-left{
	width:80%;
	position: relative;
}
.header-left>h3 {
	position: absolute;
	top: 50%;
	font-size: 30px;
	text-transform: uppercase;
	color: #464950;
	font-family: "font-gras";
	left: 50%;
	transform: translate(-60%,-60%) rotate(-7deg);
	width: 500px;
}
.contact{
	width: 100%;
	justify-content: center;
	align-items: center;
}
.icon{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	height: 400px;
}
h3{
	font-size: 32px;
	color: #fdc1bc;
	text-transform: uppercase;
	padding: 10px;
	font-family:"font-gras";
}
section{
	padding: 50px 40px;
}
.background, .background h3{
	background-color:#464950;
	color: #fff;
}
.header-left span {
	color: #fdc1bc;
	position: relative;

	font-size: 70px;
		/* text-transform: capitalize; */
	font-family: "";
	z-index: 2;
}
#ordinateur{
	width: 100%;
	/* height: 100%; */
	opacity: 0.5;
}

i {
	color: black;
	margin: 4.5%;
	display: inline-block;
}

 .boutoncv>a{
  text-decoration: none;
  display: inline-block;
}
.boutoncv {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn{
	position: relative;
	top: 5%;
}
.btn .text {
  padding: 0 50px;
  visibility: hidden;
}
.flip-front,
.flip-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}
.flip-front {
    color: #313131;
    border: 2px solid #313131;
    background-color: transparent;
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}
.flip-back {
  color: #fff;
  background-color: #313131;
  border: 2px solid #313131;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  -ms-transform: rotateX(90deg) translateZ(25px);
  -o-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.boutoncv:hover .flip-front {
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -ms-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    transform: rotateX(-90deg) translateZ(25px);
}
.boutoncv:hover .flip-back {
    -webkit-transform: rotateX(0deg) translateZ(25px);
    -ms-transform: rotateX(0deg) translateZ(25px);
    -o-transform: rotateX(0deg) translateZ(25px);
    transform: rotateX(0deg) translateZ(25px);
}

a{
	color: black;
	/* text-decoration: none; */
	text-transform: uppercase;
	font-family: "font-gras";
	/* text-align: left; */
 	margin: 5px;
}

.flex, .flex i{
	color: #464950;
}

.formationsdiplomes li{
	padding: 10px 0;
}
.left, .right{
	width: 50%;
	padding: 20px 0;
	text-align: center;
}
#formations img{
	height: 150px
}
.left{
	text-align: center;
}
.ecoles, #Competences>div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

li{
	padding: 20px;
}
#Experience{
	letter-spacing: -0.25rem;
}
.societe h2{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.container{
	position: relative;
	/* width: calc(100%/3); */
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	letter-spacing: normal;
	margin: 10px 10px;
 }
.societe{
	display: block;
	width: 300px;
	height: 200px;
	background-color: rgba(253, 193, 188, 0.5);;
	border-radius: 10px;
	box-shadow: 4px 4px 4px -5px #777;
	margin: auto;
}

.txt{
	height: 100%;
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 300px;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 40%;
	padding: 10px;
	/* text-align: center; */
	font-size: 16px;
	border-radius: 10px;
	box-shadow: 4px 4px 4px -5px #777;
	left: 50%;
	transform: translate(-50%, 0);
}
.txt p{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
.container:hover .txt{
  opacity: 1;
}
* {box-sizing: border-box}

.left{
	float: left;
}
.clear{
	clear: both;
}


#formations .container {
  position: relative;
  width: 50%;
}



#formations .overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #fdc1bc;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

#formations .container:hover .overlay {
  width: 100%;
  left: 0;
}

#formations .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.idformation {
	margin: 0;
}

#Competences{
	clear: both;
}


#centredinteret>div{
	float: left;
	width: calc(100%/4);
}
.quatrevingt{
	filter: brightness(60%);
  transition: 0.5s;
	height: 300px
}
.quatrevingt img{
	width: 100%;
height: 100%;
object-fit: cover;
}
.quatrevingt:hover{
	filter: brightness(1);
  transition: 0.5s;
}

.quinze{
	width: 15%;
}
#casque {
	width: 100%;
}
#flex>div{
  width: calc(100%/3);
}
#flex>div>img{
  width: 100%;
  height: 100%;
}
#flex{
display: flex;
flex-wrap: wrap;
}

label>i{
	color: white;
}

/* .word{
	width: 2px;
} */

@media screen and (max-width: 640px) {
  .header-left, .header-right {
    width: 100%
  }
	.menu-btn{
		display: block;
	}
	nav ul{
		display: none;
	}
	nav input[type=checkbox]:checked + ul{
		display: flex;
		flex-direction: column;
	}
	.flex{
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		align-items: center;
	}
	.flex p{
		display: none;
	}
	#profil{
		width: 20%;
	}
	.contact{
		width:80%;
	}
	.icon{
		height: inherit;
		display: flex;
		flex-direction: row;
	}
	.header-right{
		padding: 20px 10px;
	}
	#centredinteret>div{
		width: calc(100%/2);
	}
	.left, .right{
		width: 100%
	}
	#formations img{
		height: 100px;
	}
	.header-left>h3 {
		position: absolute;
		top: 50px;
		font-size: 10%;
		text-transform: uppercase;
		color: #464950;
		font-family: "font-gras";
		left: 50%;
		transform: translate(-60%,-60%) rotate(-7deg);
		width: 100%;
	}
	.header-left>span{
		font-size: 40%;

	}

}
#portfolio>div{

float: left;
width: calc(100%/4);
}
.quatrevingt{
filter: brightness(60%);
transition: 0.5s;
height: 300px
}
.quatrevingt img{
width: 100%;
height: 100%;
object-fit: cover;
}
.quatrevingt:hover{
filter: brightness(1);
}





/* modal css */
/* The Modal (background) */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
	display: flex;
	justify-content: space-around;
}
.modal-body>.gauche, .modal-body>.droite{
	width: 50%;
	padding: 20px
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
/* modal css fin  */


/* css slider into modal */
/* * Slideshow container */

.modal img{
	width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
	clear: both;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
* {box-sizing:border-box}
/* fin slider into modal */

.logo{
	display: flex;
	justify-content: flex-start;
}
.logo>img{
	width: 50px
}

.padding{
	padding: 20px 0
}
.modal a{
	background-color: rgba(253, 193, 188, 0.5);
	padding:15px 20px;
	box-shadow: 4px 4px 4px -5px #777;
	text-align: center;
	text-decoration: none;
	display: inherit;
}
